---
import {
  actions,
} from "astro:actions";

import Layout from "@/Layout.astro";

import {
  Button,
  Notice,
} from "@/components";

import AudioPlayer from "@/islands/AudioPlayer";

const result = Astro.getActionResult(actions.audio.create);

if (result && !result.error) {
  return Astro.redirect("/");
}
---

<Layout>
  <div class="w-full max-w-lg mx-auto">
    <form
      class="flex items-center gap-2"

      method="POST"

      enctype="multipart/form-data"

      action={actions.audio.create}
    >
      <input
        class="w-64 grow cursor-pointer file:mr-2 file:bg-transparent file:border-none file:text-zinc-800"

        name="data"

        type="file"

        accept="audio/*,video/*"

        multiple

        required
      />

      <Button sx="w-8 h-8 cursor-pointer flex items-center justify-center">
        <svg
          class="w-4 h-4 fill-zinc-300"

          viewBox="0 0 24 24"
        >
          <path d="M5 20h14v-2H5zm0-10h4v6h6v-6h4l-7-7z"></path>
        </svg>
      </Button>
    </form>

    {
      result?.error && (
        <Notice>
          {result.error.message}
        </Notice>
      )
    }

    <div class="my-4 py-4 border-t border-zinc-900">
      <noscript>
        <Notice>
          Playing audio requires JavaScript.
        </Notice>
      </noscript>

      <AudioPlayer
        client:only="solid-js"

        transition:persist
      />
    </div>
  </div>
</Layout>
